

    <div class="col-md-6">
      <div class="card">
        <table class="table table-striped table-hover">
          <tr>
            <th>
              The very best...
            </th>

            <th>
              is at...
            </th>

            <th>

            </th>
          </tr>
          <tr>
            <td>
              <a href="/dishes/38890">
                Bagel
              </a>
            </td>

            <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="UZBxn45nP+7xgdo4JwkkRj4WiJuDFen/ZCwHDvFjMiLrrrUhIFDtodLK2GOIQ/3yOtZWbUbxk04r2GoiqJXqXA==">


                <input type="hidden" name="dish_id" value="38890">
                <input type="hidden" name="user_id" value="6113">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="40422">Au Cheval</option>
                  <option value="40405">Balena</option>
                  <option value="40421">Bavette&#39;s Bar &amp; Boeuf</option>
                  <option value="40419">Big Star</option>
                  <option value="40403">Billy Sunday</option>
                  <option value="40402">Chicago Cut Steakhouse</option>
                  <option value="40407">Handlebar</option>
                  <option value="40413">Kanela Breakfast Club</option>
                  <option value="40401">Little Goat</option>
                  <option value="40398">Lockdown Bar &amp; Grill</option>
                  <option value="40399">Longman &amp; Eagle</option>
                  <option value="40411">Margie&#39;s Candies</option>
                  <option value="40412">MAX&#39;s Wine Dive</option>
                  <option value="40415">Mott St</option>
                  <option value="40416">Pleasant House Bakery</option>
                  <option value="40420">Plein Air Cafe &amp; Eatery</option>
                  <option value="40397">Rangoli</option>
                  <option value="40400">Ruth&#39;s Chris Steak House</option>
                  <option value="40410">Shake Shack</option>
                  <option value="40409">Skylark</option>
                  <option value="40418">Slurping Turtle</option>
                  <option value="40396">The Bagelers Coffeehouse</option>
                  <option value="40414">The Publican</option>
                  <option value="40417">The Southern</option>
                  <option value="40408">The Whistler</option>
                  <option value="40406">Umami Burger</option>
                  <option value="40404">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

            </td>

            <td class="text-right">
              <span class="badge badge-primary">
                Breakfast
              </span>
            </td>

          </tr>
  
              </form>

            </td>
          </tr>
          <tr>
          

          </tr>
        </table>

        <div class="card-footer text-center">

        </div>
      </div>
    </div>

    <div class="col-md-3">
      <a href="/venues/new" class="btn btn-block btn-success">
        Add a new venue
      </a>
    </div>
  </div>

</div>
</body>
</html>
