
<body>
  <nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="/">VeryBest</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/dishes">Dishes</a>
          </li>
          <li class="nav-item ">
            <a class="nav-link" href="/venues">Venues</a>
          </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/users/edit">
                alice
              </a>
            </li>

            <li class="nav-item active">
              <a class="nav-link" href="/users/sign_out" data-method="delete" rel="nofollow">
                Sign Out
              </a>
            </li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="container mt-4">


    <div class="row mt-2 mb-1">
  <div class="col-md-3">
    <form class="collapse" id="dishes_filters" action="/dishes" accept-charset="UTF-8" method="get"><input name="utf8" type="hidden" value="&#x2713;" />
      <p class="lead">Narrow results:</p>

      <div class="form-group">
        <label for="q_name_cont">Name contains</label>
        <input class="form-control" placeholder="Name contains" type="text" name="q[name_cont]" id="q_name_cont" />
      </div>

      <div class="form-group">
          <% @cuisines = Cuisine.all %>
      <label for="q_cuisine_id_eq_any">Cuisine</label>
      <% @cuisines.each do|cuisine| %>
        <div class="checkbox">
          <label>
            <input type="checkbox" name="q[cuisine_id_eq_any][]" id="q_cuisine_id_eq_any_" value="<%= cuisine.id %>" />
            <%= cuisine.name %>
          </label>
        </div>
      <% end %>
          
          
      </div>

      <input type="submit" name="commit" value="Search" class="btn btn-primary btn-block mb-1" data-disable-with="Search" />

      <a href="/dishes" class="btn btn-secondary btn-block mb-1">Clear filters</a>
</form>
    <a class="btn btn-secondary btn-block mb-1" data-toggle="collapse" href="#dishes_filters">
      Show Filters
    </a>
  </div>

  <div class="col-md-6">
    <div class="card">
      <table class="table table-striped table-hover">
        <tr>
          <th>
            The very best...
          </th>

          <th>
            is at...
          </th>

          <th>

          </th>
        </tr>
        <tr>
          <td>
            <a href="/dishes/38890">
              Bagel
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="UZBxn45nP+7xgdo4JwkkRj4WiJuDFen/ZCwHDvFjMiLrrrUhIFDtodLK2GOIQ/3yOtZWbUbxk04r2GoiqJXqXA==">


                <input type="hidden" name="dish_id" value="38890">
                <input type="hidden" name="user_id" value="6113">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="40422">Au Cheval</option>
<option value="40405">Balena</option>
<option value="40421">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="40419">Big Star</option>
<option value="40403">Billy Sunday</option>
<option value="40402">Chicago Cut Steakhouse</option>
<option value="40407">Handlebar</option>
<option value="40413">Kanela Breakfast Club</option>
<option value="40401">Little Goat</option>
<option value="40398">Lockdown Bar &amp; Grill</option>
<option value="40399">Longman &amp; Eagle</option>
<option value="40411">Margie&#39;s Candies</option>
<option value="40412">MAX&#39;s Wine Dive</option>
<option value="40415">Mott St</option>
<option value="40416">Pleasant House Bakery</option>
<option value="40420">Plein Air Cafe &amp; Eatery</option>
<option value="40397">Rangoli</option>
<option value="40400">Ruth&#39;s Chris Steak House</option>
<option value="40410">Shake Shack</option>
<option value="40409">Skylark</option>
<option value="40418">Slurping Turtle</option>
<option value="40396">The Bagelers Coffeehouse</option>
<option value="40414">The Publican</option>
<option value="40417">The Southern</option>
<option value="40408">The Whistler</option>
<option value="40406">Umami Burger</option>
<option value="40404">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Breakfast
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38901">
              Banana Split
            </a>
          </td>

          <td>
              <a href="/venues/40411">
                Margie&#39;s Candies
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Dessert
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38915">
              Biscuits and Gravy
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="Vp97gk6h1HhgWt+pR6jxJeJQq90NO0voQi15IpAxSJrsob884JYGN0MR3fLo4iiR5pB1K8jfMVkN2RQOyceQ5A==">


                <input type="hidden" name="dish_id" value="38915">
                <input type="hidden" name="user_id" value="6113">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="40422">Au Cheval</option>
<option value="40405">Balena</option>
<option value="40421">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="40419">Big Star</option>
<option value="40403">Billy Sunday</option>
<option value="40402">Chicago Cut Steakhouse</option>
<option value="40407">Handlebar</option>
<option value="40413">Kanela Breakfast Club</option>
<option value="40401">Little Goat</option>
<option value="40398">Lockdown Bar &amp; Grill</option>
<option value="40399">Longman &amp; Eagle</option>
<option value="40411">Margie&#39;s Candies</option>
<option value="40412">MAX&#39;s Wine Dive</option>
<option value="40415">Mott St</option>
<option value="40416">Pleasant House Bakery</option>
<option value="40420">Plein Air Cafe &amp; Eatery</option>
<option value="40397">Rangoli</option>
<option value="40400">Ruth&#39;s Chris Steak House</option>
<option value="40410">Shake Shack</option>
<option value="40409">Skylark</option>
<option value="40418">Slurping Turtle</option>
<option value="40396">The Bagelers Coffeehouse</option>
<option value="40414">The Publican</option>
<option value="40417">The Southern</option>
<option value="40408">The Whistler</option>
<option value="40406">Umami Burger</option>
<option value="40404">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Breakfast
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38905">
              Bloody Mary
            </a>
          </td>

          <td>
              <a href="/venues/40407">
                Handlebar
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Drink
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38892">
              Burger
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="unG3jjOeryj/1U3i0aIjy7FdX/XELhsjFQS2/eJUaBQAT3Mwnal9Z9yeT7l+6Pp/tZ2BAwHKYZJa8NvRu6Kwag==">


                <input type="hidden" name="dish_id" value="38892">
                <input type="hidden" name="user_id" value="6113">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="40422">Au Cheval</option>
<option value="40405">Balena</option>
<option value="40421">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="40419">Big Star</option>
<option value="40403">Billy Sunday</option>
<option value="40402">Chicago Cut Steakhouse</option>
<option value="40407">Handlebar</option>
<option value="40413">Kanela Breakfast Club</option>
<option value="40401">Little Goat</option>
<option value="40398">Lockdown Bar &amp; Grill</option>
<option value="40399">Longman &amp; Eagle</option>
<option value="40411">Margie&#39;s Candies</option>
<option value="40412">MAX&#39;s Wine Dive</option>
<option value="40415">Mott St</option>
<option value="40416">Pleasant House Bakery</option>
<option value="40420">Plein Air Cafe &amp; Eatery</option>
<option value="40397">Rangoli</option>
<option value="40400">Ruth&#39;s Chris Steak House</option>
<option value="40410">Shake Shack</option>
<option value="40409">Skylark</option>
<option value="40418">Slurping Turtle</option>
<option value="40396">The Bagelers Coffeehouse</option>
<option value="40414">The Publican</option>
<option value="40417">The Southern</option>
<option value="40408">The Whistler</option>
<option value="40406">Umami Burger</option>
<option value="40404">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              American
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38896">
              Charcuterie
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="doLBMaRMnqufO9laUoj3xedX3ngkRWf7a+4iwF7E6NnMvAWPCntM5Lxw2wH9wi5x45cAjuGhHUokGk/sBzIwpw==">


                <input type="hidden" name="dish_id" value="38896">
                <input type="hidden" name="user_id" value="6113">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="40422">Au Cheval</option>
<option value="40405">Balena</option>
<option value="40421">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="40419">Big Star</option>
<option value="40403">Billy Sunday</option>
<option value="40402">Chicago Cut Steakhouse</option>
<option value="40407">Handlebar</option>
<option value="40413">Kanela Breakfast Club</option>
<option value="40401">Little Goat</option>
<option value="40398">Lockdown Bar &amp; Grill</option>
<option value="40399">Longman &amp; Eagle</option>
<option value="40411">Margie&#39;s Candies</option>
<option value="40412">MAX&#39;s Wine Dive</option>
<option value="40415">Mott St</option>
<option value="40416">Pleasant House Bakery</option>
<option value="40420">Plein Air Cafe &amp; Eatery</option>
<option value="40397">Rangoli</option>
<option value="40400">Ruth&#39;s Chris Steak House</option>
<option value="40410">Shake Shack</option>
<option value="40409">Skylark</option>
<option value="40418">Slurping Turtle</option>
<option value="40396">The Bagelers Coffeehouse</option>
<option value="40414">The Publican</option>
<option value="40417">The Southern</option>
<option value="40408">The Whistler</option>
<option value="40406">Umami Burger</option>
<option value="40404">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              French
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38914">
              Chicken Tikka Masala
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="a1r+7Lc4cErxNqmTpaMIJk9WF2d0tdJ4FRweeGo2MPbRZDpSGQ+iBdJ9q8gK6dGSS5bJkbFRqMla6HNUM8DoiA==">


                <input type="hidden" name="dish_id" value="38914">
                <input type="hidden" name="user_id" value="6113">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="40422">Au Cheval</option>
<option value="40405">Balena</option>
<option value="40421">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="40419">Big Star</option>
<option value="40403">Billy Sunday</option>
<option value="40402">Chicago Cut Steakhouse</option>
<option value="40407">Handlebar</option>
<option value="40413">Kanela Breakfast Club</option>
<option value="40401">Little Goat</option>
<option value="40398">Lockdown Bar &amp; Grill</option>
<option value="40399">Longman &amp; Eagle</option>
<option value="40411">Margie&#39;s Candies</option>
<option value="40412">MAX&#39;s Wine Dive</option>
<option value="40415">Mott St</option>
<option value="40416">Pleasant House Bakery</option>
<option value="40420">Plein Air Cafe &amp; Eatery</option>
<option value="40397">Rangoli</option>
<option value="40400">Ruth&#39;s Chris Steak House</option>
<option value="40410">Shake Shack</option>
<option value="40409">Skylark</option>
<option value="40418">Slurping Turtle</option>
<option value="40396">The Bagelers Coffeehouse</option>
<option value="40414">The Publican</option>
<option value="40417">The Southern</option>
<option value="40408">The Whistler</option>
<option value="40406">Umami Burger</option>
<option value="40404">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Indian
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38891">
              Chili
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="D/s+mDaw90IygfBfKkL05UxwxKLZr5Gb5TDg+CG/Lyq1xfommIclDRHK8gSFCC1RSLAaVBxL6yqqxI3UeEn3VA==">


                <input type="hidden" name="dish_id" value="38891">
                <input type="hidden" name="user_id" value="6113">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="40422">Au Cheval</option>
<option value="40405">Balena</option>
<option value="40421">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="40419">Big Star</option>
<option value="40403">Billy Sunday</option>
<option value="40402">Chicago Cut Steakhouse</option>
<option value="40407">Handlebar</option>
<option value="40413">Kanela Breakfast Club</option>
<option value="40401">Little Goat</option>
<option value="40398">Lockdown Bar &amp; Grill</option>
<option value="40399">Longman &amp; Eagle</option>
<option value="40411">Margie&#39;s Candies</option>
<option value="40412">MAX&#39;s Wine Dive</option>
<option value="40415">Mott St</option>
<option value="40416">Pleasant House Bakery</option>
<option value="40420">Plein Air Cafe &amp; Eatery</option>
<option value="40397">Rangoli</option>
<option value="40400">Ruth&#39;s Chris Steak House</option>
<option value="40410">Shake Shack</option>
<option value="40409">Skylark</option>
<option value="40418">Slurping Turtle</option>
<option value="40396">The Bagelers Coffeehouse</option>
<option value="40414">The Publican</option>
<option value="40417">The Southern</option>
<option value="40408">The Whistler</option>
<option value="40406">Umami Burger</option>
<option value="40404">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              American
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38910">
              Creme Brulee
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="JoI6hC7rVDOXgKZs4CRASmehvHdVyGOFz5qR0YndKfqcvP46gNyGfLTLpDdPbpn+Y2FigZAsGTSAbvz90CvxhA==">


                <input type="hidden" name="dish_id" value="38910">
                <input type="hidden" name="user_id" value="6113">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="40422">Au Cheval</option>
<option value="40405">Balena</option>
<option value="40421">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="40419">Big Star</option>
<option value="40403">Billy Sunday</option>
<option value="40402">Chicago Cut Steakhouse</option>
<option value="40407">Handlebar</option>
<option value="40413">Kanela Breakfast Club</option>
<option value="40401">Little Goat</option>
<option value="40398">Lockdown Bar &amp; Grill</option>
<option value="40399">Longman &amp; Eagle</option>
<option value="40411">Margie&#39;s Candies</option>
<option value="40412">MAX&#39;s Wine Dive</option>
<option value="40415">Mott St</option>
<option value="40416">Pleasant House Bakery</option>
<option value="40420">Plein Air Cafe &amp; Eatery</option>
<option value="40397">Rangoli</option>
<option value="40400">Ruth&#39;s Chris Steak House</option>
<option value="40410">Shake Shack</option>
<option value="40409">Skylark</option>
<option value="40418">Slurping Turtle</option>
<option value="40396">The Bagelers Coffeehouse</option>
<option value="40414">The Publican</option>
<option value="40417">The Southern</option>
<option value="40408">The Whistler</option>
<option value="40406">Umami Burger</option>
<option value="40404">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Dessert
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38904">
              Fried Pickles
            </a>
          </td>

          <td>
              <a href="/venues/40407">
                Handlebar
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              American
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38895">
              Fruit Bowl
            </a>
          </td>

          <td>
              <a href="/venues/40413">
                Kanela Breakfast Club
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Salad
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38912">
              Gin and Tonic
            </a>
          </td>

          <td>
              <a href="/venues/40399">
                Longman &amp; Eagle
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Drink
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38894">
              Gnocchi
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="D1tVaMzk7vMShEacZ7zgbChbTF42YSf2nLoSZaJBi6C1ZZHWYtM8vDHPRMfI9jnYLJuSqPOFXUfTTn9J+7dT3g==">


                <input type="hidden" name="dish_id" value="38894">
                <input type="hidden" name="user_id" value="6113">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="40422">Au Cheval</option>
<option value="40405">Balena</option>
<option value="40421">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="40419">Big Star</option>
<option value="40403">Billy Sunday</option>
<option value="40402">Chicago Cut Steakhouse</option>
<option value="40407">Handlebar</option>
<option value="40413">Kanela Breakfast Club</option>
<option value="40401">Little Goat</option>
<option value="40398">Lockdown Bar &amp; Grill</option>
<option value="40399">Longman &amp; Eagle</option>
<option value="40411">Margie&#39;s Candies</option>
<option value="40412">MAX&#39;s Wine Dive</option>
<option value="40415">Mott St</option>
<option value="40416">Pleasant House Bakery</option>
<option value="40420">Plein Air Cafe &amp; Eatery</option>
<option value="40397">Rangoli</option>
<option value="40400">Ruth&#39;s Chris Steak House</option>
<option value="40410">Shake Shack</option>
<option value="40409">Skylark</option>
<option value="40418">Slurping Turtle</option>
<option value="40396">The Bagelers Coffeehouse</option>
<option value="40414">The Publican</option>
<option value="40417">The Southern</option>
<option value="40408">The Whistler</option>
<option value="40406">Umami Burger</option>
<option value="40404">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Italian
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38899">
              Grits
            </a>
          </td>

          <td>
              <a href="/venues/40417">
                The Southern
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Breakfast
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38909">
              Lamb Chops
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="hUyPfd1HQJq5z6maudLQ2Z2fOjXMEx4Kxe0lHWNwpoY/ckvDc3CS1ZqEq8EWmAltmV/kwwn3ZLuKGUgxOoZ++A==">


                <input type="hidden" name="dish_id" value="38909">
                <input type="hidden" name="user_id" value="6113">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="40422">Au Cheval</option>
<option value="40405">Balena</option>
<option value="40421">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="40419">Big Star</option>
<option value="40403">Billy Sunday</option>
<option value="40402">Chicago Cut Steakhouse</option>
<option value="40407">Handlebar</option>
<option value="40413">Kanela Breakfast Club</option>
<option value="40401">Little Goat</option>
<option value="40398">Lockdown Bar &amp; Grill</option>
<option value="40399">Longman &amp; Eagle</option>
<option value="40411">Margie&#39;s Candies</option>
<option value="40412">MAX&#39;s Wine Dive</option>
<option value="40415">Mott St</option>
<option value="40416">Pleasant House Bakery</option>
<option value="40420">Plein Air Cafe &amp; Eatery</option>
<option value="40397">Rangoli</option>
<option value="40400">Ruth&#39;s Chris Steak House</option>
<option value="40410">Shake Shack</option>
<option value="40409">Skylark</option>
<option value="40418">Slurping Turtle</option>
<option value="40396">The Bagelers Coffeehouse</option>
<option value="40414">The Publican</option>
<option value="40417">The Southern</option>
<option value="40408">The Whistler</option>
<option value="40406">Umami Burger</option>
<option value="40404">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Classic
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38893">
              Michelada
            </a>
          </td>

          <td>
              <a href="/venues/40419">
                Big Star
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Drink
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38913">
              Mussels
            </a>
          </td>

          <td>
              <a href="/venues/40398">
                Lockdown Bar &amp; Grill
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Seafood
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38908">
              Negroni
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="MtAs58PuB0TNMcdgWJrT/Jn/2U6ZbmMF2oLOgFQWTxGI7uhZbdnVC+56xTv30ApInT8HuFyKGbSVdqOsDeCXbw==">


                <input type="hidden" name="dish_id" value="38908">
                <input type="hidden" name="user_id" value="6113">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="40422">Au Cheval</option>
<option value="40405">Balena</option>
<option value="40421">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="40419">Big Star</option>
<option value="40403">Billy Sunday</option>
<option value="40402">Chicago Cut Steakhouse</option>
<option value="40407">Handlebar</option>
<option value="40413">Kanela Breakfast Club</option>
<option value="40401">Little Goat</option>
<option value="40398">Lockdown Bar &amp; Grill</option>
<option value="40399">Longman &amp; Eagle</option>
<option value="40411">Margie&#39;s Candies</option>
<option value="40412">MAX&#39;s Wine Dive</option>
<option value="40415">Mott St</option>
<option value="40416">Pleasant House Bakery</option>
<option value="40420">Plein Air Cafe &amp; Eatery</option>
<option value="40397">Rangoli</option>
<option value="40400">Ruth&#39;s Chris Steak House</option>
<option value="40410">Shake Shack</option>
<option value="40409">Skylark</option>
<option value="40418">Slurping Turtle</option>
<option value="40396">The Bagelers Coffeehouse</option>
<option value="40414">The Publican</option>
<option value="40417">The Southern</option>
<option value="40408">The Whistler</option>
<option value="40406">Umami Burger</option>
<option value="40404">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Drink
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38903">
              Old Fashioned
            </a>
          </td>

          <td>
              <a href="/venues/40408">
                The Whistler
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Drink
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38911">
              Pancakes
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="TFV5RQq8OwONDLH5FpsWs3y7eFg4eBMF1F4mv862AHr2a737pIvpTK5Hs6K50c8HeHumrv2cabSbqkuTl0DYBA==">


                <input type="hidden" name="dish_id" value="38911">
                <input type="hidden" name="user_id" value="6113">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="40422">Au Cheval</option>
<option value="40405">Balena</option>
<option value="40421">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="40419">Big Star</option>
<option value="40403">Billy Sunday</option>
<option value="40402">Chicago Cut Steakhouse</option>
<option value="40407">Handlebar</option>
<option value="40413">Kanela Breakfast Club</option>
<option value="40401">Little Goat</option>
<option value="40398">Lockdown Bar &amp; Grill</option>
<option value="40399">Longman &amp; Eagle</option>
<option value="40411">Margie&#39;s Candies</option>
<option value="40412">MAX&#39;s Wine Dive</option>
<option value="40415">Mott St</option>
<option value="40416">Pleasant House Bakery</option>
<option value="40420">Plein Air Cafe &amp; Eatery</option>
<option value="40397">Rangoli</option>
<option value="40400">Ruth&#39;s Chris Steak House</option>
<option value="40410">Shake Shack</option>
<option value="40409">Skylark</option>
<option value="40418">Slurping Turtle</option>
<option value="40396">The Bagelers Coffeehouse</option>
<option value="40414">The Publican</option>
<option value="40417">The Southern</option>
<option value="40408">The Whistler</option>
<option value="40406">Umami Burger</option>
<option value="40404">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Breakfast
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38898">
              Pot Pie
            </a>
          </td>

          <td>
              <a href="/venues/40416">
                Pleasant House Bakery
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Classic
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38900">
              Ramen
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="VABVuAipxakwUS09N68w18etj0dMAZJqm8AdsVfD+tbuPpEGpp4X5hMaL2aY5eljw21RsYnl6NvUNHCdDjUiqA==">


                <input type="hidden" name="dish_id" value="38900">
                <input type="hidden" name="user_id" value="6113">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="40422">Au Cheval</option>
<option value="40405">Balena</option>
<option value="40421">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="40419">Big Star</option>
<option value="40403">Billy Sunday</option>
<option value="40402">Chicago Cut Steakhouse</option>
<option value="40407">Handlebar</option>
<option value="40413">Kanela Breakfast Club</option>
<option value="40401">Little Goat</option>
<option value="40398">Lockdown Bar &amp; Grill</option>
<option value="40399">Longman &amp; Eagle</option>
<option value="40411">Margie&#39;s Candies</option>
<option value="40412">MAX&#39;s Wine Dive</option>
<option value="40415">Mott St</option>
<option value="40416">Pleasant House Bakery</option>
<option value="40420">Plein Air Cafe &amp; Eatery</option>
<option value="40397">Rangoli</option>
<option value="40400">Ruth&#39;s Chris Steak House</option>
<option value="40410">Shake Shack</option>
<option value="40409">Skylark</option>
<option value="40418">Slurping Turtle</option>
<option value="40396">The Bagelers Coffeehouse</option>
<option value="40414">The Publican</option>
<option value="40417">The Southern</option>
<option value="40408">The Whistler</option>
<option value="40406">Umami Burger</option>
<option value="40404">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Japanese
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38906">
              Spaghetti
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="4v1xLISUeZ4irIEcVKlvh06D93qNF4M22WeQ9Q7nh8lYw7WSKqOr0QHng0f747YzSkMpjEjz+YeWk/3ZVxFftw==">


                <input type="hidden" name="dish_id" value="38906">
                <input type="hidden" name="user_id" value="6113">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="40422">Au Cheval</option>
<option value="40405">Balena</option>
<option value="40421">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="40419">Big Star</option>
<option value="40403">Billy Sunday</option>
<option value="40402">Chicago Cut Steakhouse</option>
<option value="40407">Handlebar</option>
<option value="40413">Kanela Breakfast Club</option>
<option value="40401">Little Goat</option>
<option value="40398">Lockdown Bar &amp; Grill</option>
<option value="40399">Longman &amp; Eagle</option>
<option value="40411">Margie&#39;s Candies</option>
<option value="40412">MAX&#39;s Wine Dive</option>
<option value="40415">Mott St</option>
<option value="40416">Pleasant House Bakery</option>
<option value="40420">Plein Air Cafe &amp; Eatery</option>
<option value="40397">Rangoli</option>
<option value="40400">Ruth&#39;s Chris Steak House</option>
<option value="40410">Shake Shack</option>
<option value="40409">Skylark</option>
<option value="40418">Slurping Turtle</option>
<option value="40396">The Bagelers Coffeehouse</option>
<option value="40414">The Publican</option>
<option value="40417">The Southern</option>
<option value="40408">The Whistler</option>
<option value="40406">Umami Burger</option>
<option value="40404">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Italian
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38897">
              Tres Leches
            </a>
          </td>

          <td>
              <form action="/create_bookmark" class="form-inline" method="post">
                <!-- Hidden input for authenticity token to protect from forgery -->
                <input name="authenticity_token" type="hidden" value="3JO5fwVa8L08yUZ2azQCsuHmJkHPGr2EfSZaNMs8vmVmrX3Bq20i8h+CRC3EftsG5Sb4twr+xzUy0jcYkspmGw==">


                <input type="hidden" name="dish_id" value="38897">
                <input type="hidden" name="user_id" value="6113">

                <!-- Label and input for venue_id -->
                <label for="venue_id" class="control-label sr-only">
                  Venue
                </label>

                <select name="venue_id" id="venue_id" class="form-control form-control-sm mr-sm-1"><option value="">Choose a venue...</option><option value="40422">Au Cheval</option>
<option value="40405">Balena</option>
<option value="40421">Bavette&#39;s Bar &amp; Boeuf</option>
<option value="40419">Big Star</option>
<option value="40403">Billy Sunday</option>
<option value="40402">Chicago Cut Steakhouse</option>
<option value="40407">Handlebar</option>
<option value="40413">Kanela Breakfast Club</option>
<option value="40401">Little Goat</option>
<option value="40398">Lockdown Bar &amp; Grill</option>
<option value="40399">Longman &amp; Eagle</option>
<option value="40411">Margie&#39;s Candies</option>
<option value="40412">MAX&#39;s Wine Dive</option>
<option value="40415">Mott St</option>
<option value="40416">Pleasant House Bakery</option>
<option value="40420">Plein Air Cafe &amp; Eatery</option>
<option value="40397">Rangoli</option>
<option value="40400">Ruth&#39;s Chris Steak House</option>
<option value="40410">Shake Shack</option>
<option value="40409">Skylark</option>
<option value="40418">Slurping Turtle</option>
<option value="40396">The Bagelers Coffeehouse</option>
<option value="40414">The Publican</option>
<option value="40417">The Southern</option>
<option value="40408">The Whistler</option>
<option value="40406">Umami Burger</option>
<option value="40404">Unite Urban Grill</option></select>

                <button class="btn btn-primary btn-sm">
                  <i class="fa fa-heart"></i>
                </button>
              </form>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Dessert
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38902">
              Veggie Burger
            </a>
          </td>

          <td>
              <a href="/venues/40410">
                Shake Shack
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              American
            </span>
          </td>

        </tr>
        <tr>
          <td>
            <a href="/dishes/38907">
              Watermelon Salad
            </a>
          </td>

          <td>
              <a href="/venues/40404">
                Unite Urban Grill
              </a>

          </td>

          <td class="text-right">
            <span class="badge badge-primary">
              Salad
            </span>
          </td>

        </tr>
      </table>

      <div class="card-footer text-center">
        
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <a href="/venues/new" class="btn btn-block btn-success">
      Add a new venue
    </a>
  </div>
</div>

  </div>
</body>
</html>
